 <section class="ingevulde-gegevens">
        <h1>Ingevulde gegevens:</h1><br/>
        <h3>Id:</h3> <p>{{gebruikers.id}}</p><br/>
        <h3>Naam:</h3> <p>{{gebruikers.naam}}</p><br/>
        <h3>Soort gebruiker:</h3> <p>{{gebruikers.soortGebruiker}}</p><br/>
        <h3>Opleiding:</h3> <p>{{gebruikers.opleidingRichting}}</p><br/>
        <h3>School naam:</h3> <p>{{gebruikers.schoolNaam}}</p><br/>
        <h3>Opleidingsniveau:</h3> <p>{{gebruikers.opleidingsniveau}}</p><br/>
        <h3>Leerjaar:</h3> <p>{{gebruikers.leerjaar}}</p><br/>
        <h3>Kwaliteiten:</h3> <p>{{gebruikers.kwaliteiten}}</p><br/>
        <h3>Functie:</h3> <p>{{gebruikers.functie}}</p><br/>
        <h3>Dienstverband:</h3> <p>{{gebruikers.dienstverband}}</p><br/>

        <a href="/resultaten">Bekijken</a>
 </section>