       <h2>{{title}}</h2>

       <p>{{gebruikers.id}}</p>
       <p>{{gebruikers.naam}}</p>
       <p>{{gebruikers.soortGebruiker}}</p>
       <p>{{gebruikers.opleidingsniveau}}</p>
       <p>{{gebruikers.functie}}</p>
       <p>{{gebruikers.kwaliteiten}} </p>
       <p>{{gebruikers.dienstverband}}</p>