<main>
    <section class="gebruiker-kaart">
        <header>
            <h1>{{this.naam}}</h1>
            <p>{{this.opleidingsniveau}}</p>
        </header>
        <article class="gebruiker-main-content">
            <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, maiores. Facere inventore nisi saepe,
                repellat dolores tenetur esse consequuntur in natus asperiores ducimus sit sequi itaque quasi, quo
                nostrum
                explicabo?</h2>
            <h3>Skills</h3>
            <h3>{{this.kwaliteiten}}</h3>
        </article>
        <article class="opzoek-naar">
            <h3>{{this.naam}} is opzoek naar</h3>
            <p>Dienstverband: {{this.dienstverband}}</p>
            <p>Functie: {{this.functie}}</p>
        </article>
    </section>
</main>