    <header class="filter-balk">
        <svg id="filter-knop" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="971.986px" height="971.986px"
            viewBox="0 0 971.986 971.986" style="enable-background:new 0 0 971.986 971.986;" xml:space="preserve">
            <g>
                <path
                    d="M370.216,459.3c10.2,11.1,15.8,25.6,15.8,40.6v442c0,26.601,32.1,40.101,51.1,21.4l123.3-141.3
    c16.5-19.8,25.6-29.601,25.6-49.2V500c0-15,5.7-29.5,15.8-40.601L955.615,75.5c26.5-28.8,6.101-75.5-33.1-75.5h-873 c-39.2,0-59.7,46.6-33.1,75.5L370.216,459.3z" />
            </g>
        </svg>
    </header>

    <form class="filter-overlay" action="/" method="POST">

        {{!-- <label for="zoekbalk">Zoeken:</label>
        <input class="zoeken" type="text" placeholder="Functie, trefwoord of bedrijf" name="search">

        <label for="afstand">Afstand:</label>
        <input type="range" min="1" max="100" value="25" class="slider" id="myRange"> --}}

        <label for="dienstverband">Dienstverband</label>
        <select name="dienstverbanden" id="dienstverbanden">
            <option value="fulltime">Fulltime</option>
            <option value="parttime">Parttime</option>
            <option value="freelance">Freelance</option>
            <option value="stage">Stage</option>
        </select>

        <label for="opleidingsniveau">Opleidingsniveau</label>
        <select name="opleidingsniveaus" id="opleidingsniveaus">
            <option value="universiteit">Universiteit</option>
            <option value="hbo">Hbo</option>
            <option value="mbo">Mbo</option>
            <option value="vmbo">Vmbo</option>
        </select>

        {{!-- <fieldset class="radio-buttons">

            <legend>Werkomgeving</legend>

            <label for="Thuis">Thuis</label>
            <input type="radio" name="Werkomgeving" value="Thuis">

            <label for="Kantoor">Kantoor</label>
            <input type="radio" name="Werkomgeving" value="Kantoor">
        </fieldset> --}}

        <input type="submit">

    </form>

      <section class="profielen">

          {{#each gebruikers}}
          <article class="profiel">
              <header>
                  <h1>{{this.naam}}</h1>
                  <p>{{this.opleidingsniveau}}</p>
                  <p>{{this.soortGebruiker}}</p>
              </header>
              <article class="gebruiker-main-content">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, maiores. Facere inventore nisi
                      saepe,
                      repellat dolores tenetur esse consequuntur in natus asperiores ducimus sit sequi itaque quasi, quo
                      nostrum
                      explicabo?</p>
                  <h2>Skills</h2>
                  <p>{{this.kwaliteiten}}</p>
              </article>
              <article class="opzoek-naar">
                  <h2>{{this.naam}} is opzoek naar</h2>
                  <p><span>Dienstverband:</span> {{this.dienstverband}}</span></p>
                  <p><span>Functie:</span> {{this.functie}}</p>
                  {{!-- <p><a href="/gebruikersdb/{{gebruikers.id}}">Meer info</a></p> --}}
              </article>
          </article>
{{/each}}
          {{!-- </article>
          <article class="hallo">

          </article>
          <article class="hallo">

          </article> --}}
      </section>