<link rel="stylesheet" href="styles/gebruikers-kaart.css">

{{!-- <section class="alle-gebruikers-tabel"></section> --}}
{{!-- <table>
    <tr>
        <th>Naam</th>
        <th>Soort gebruiker</th>
        <th>Opleidingsniveau</th>
        <th>Leerjaar</th>
        <th>Functie</th>
        <th>Gewenst dienstverband</th>
    </tr>
    {{#each gebruikers}}
    <tr>
        <td>{{this.naam}}</td>
        <td>{{this.soortGebruiker}}</td>
        <td>{{this.opleidingsniveau}}</td>
        <td>{{this.leerjaar}}</td>
        <td>{{this.functie}}</td>
        <td>{{this.gewenstDienstverband}}</td>
    </tr>
</table> --}}

{{!-- {{#each gebruikers}}
<table>
    <tr>
        <th>Naam</th>
        <td>{{this.naam}}</td>
    </tr>
    <tr>
        <th>Soort gebruiker</th>
        <td>{{this.soortGebruiker}}</td>
    </tr>
    <tr>
        <th>Opleidingsniveau</th>
        <td>{{this.opleidingsniveau}}</td>
    </tr>
    <tr>
        <th>Kwaliteiten</th>
        <td>{{this.kwaliteiten}}</td>
    </tr>
    <tr>
        <th>Functie</th>
        <td>{{this.functie}}</td>
    </tr>
    <tr>
        <th>Gewenst dienstverband</th>
        <td>{{this.dienstverband}}</td>
    </tr>
</table>
</section>
{{/each}} --}}

<main>
    {{#each gebruikers}}
    <section class="gebruiker-kaart">
        <header>
            <h1>{{this.naam}}</h1>
            <p>{{this.opleidingsniveau}}</p>
        </header>
        <article class="gebruiker-main-content">
            <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, maiores. Facere inventore nisi saepe,
                repellat dolores tenetur esse consequuntur in natus asperiores ducimus sit sequi itaque quasi, quo
                nostrum
                explicabo?</h2>
            <h3>Skills</h3>
            <p>{{this.kwaliteiten}}</p>
        </article>
        <article class="opzoek-naar">
            <h3>{{this.naam}} is opzoek naar</h3>
            <p>Dienstverband: {{this.dienstverband}}</p>
            <p>Functie: {{this.functie}}</p>
            <p><a href="/gebruikersdb/{{gebruikers.id}}">Meer info</a></p>
            <hr>
        </article>
    </section>
    {{/each}}
</main>