{{> toevoegen-header }}

<section class="ingevulde-gegevens">
       <h1>Ingevulde gegevens:</h1><br/>
       <h3>Bedrijfsnaam:</h3> <p>{{vacatures.bedrijfsnaam}}</p><br/>
       <h3>Straatnaam:</h3> <p>{{vacatures.straatnaam}}</p><br/>
       <h3>Nr + toevg.:</h3> <p>{{vacatures.huisnummer}}</p><br/>
       <h3>Plaatsnaam:</h3> <p>{{vacatures.plaatsnaam}}</p><br/>
       <h3>Postcode:</h3> <p>{{vacatures.postcode}}</p><br/>
       <h3>Website:</h3> <p>{{vacatures.website}}</p><br/>
       
       <h3>vacature Naam:</h3> <p>{{vacatures.vacatureNaam}}</p><br/>
       <h3>Dienstverband:</h3> <p>{{vacatures.dienstverband}}</p><br/>
       <h3>Branch:</h3> <p>{{vacatures.branch}}</p><br/>
       <h3>Vacature Omschrijving:</h3> <p class="biografie">{{vacatures.vacatureOmschrijving}}</p><br/>
       
       <h3>Opleidingsniveau:</h3> <p>{{vacatures.opleidingsniveau}}</p><br/>
       <h3>Competenties:</h3> <p>{{vacatures.competenties}}</p><br/>
       <h3>Skills:</h3> <p>{{vacatures.skills}}</p><br/>

       <h3>Aanbod:</h3> <p>{{vacatures.aanbod}}</p><br/>

       <h3>Contactpersoon Voornaam:</h3> <p>{{vacatures.contactpersoonVoornaam}}</p><br/>
       <h3>Contactpersoon Achternaam:</h3> <p>{{vacatures.contactpersoonAchternaam}}</p><br/>
       <h3>Contactpersoon Email:</h3> <p>{{vacatures.contactpersoonEmail}}</p><br/>
       <h3>Contactpersoon Nummer:</h3> <p>{{vacatures.contactpersoonNummer}}</p><br/>
       <h3>Contactpersoon LinkedIn:</h3> <p>{{vacatures.contactpersoonLinkedIn}}</p><br/>

       <a href="/vacatures">Bekijken</a>
</section>