{{> filter-header}}


<form class="filter-overlay" action="/vacatures" method="POST">
    <section class="maximale-breedte-mobiel">
        <label for="branchFilter">Branch</label>
        <select name="branchFilter" id="branchFilter">
            {{#if branchFilter}}
            <option value={{branchFilter}}>{{branchFilter}}</option>
            {{/if}}
            <option value="Alle">Alle</option>
            <option value="Design">Design</option>
            <option value="ICT">ICT</option>
            <option value="Kunst">Kunst</option>
            <option value="Landbouw">Landbouw</option>
            <option value="Marketing">Marketing</option>
            <option value="Media">Media</option>
            <option value="Onderwijs">Onderwijs</option>
            <option value="Retail">Retail</option>
            <option value="Sport">Sport</option>
            <option value="Zorg">Zorg</option>
        </select>

        <label for="dienstverband-filter">Dienstverband</label>
        <select name="dienstverbandFilter" id="dienstverbandFilter">
            {{#if dienstverbandFilter}}
            <option value={{dienstverbandFilter}}>{{dienstverbandFilter}}</option>
            {{/if}}
            <option value="Alle">Alle</option>
            <option value="Fulltime">Fulltime</option>
            <option value="Parttime">Parttime</option>
            <option value="Stage">Stage</option>
            <option value="Freelance">Freelance</option>
            <option value="Vrijwillig">Vrijwillig</option>
        </select>

        <input type="submit">
    </section>
</form>






<h1>{{title}} ({{results}})</h1>

<section class="cards">
    {{#each vacatures}}
    <article class="card-content card-vacature">
        <header>
            <h2>{{vacatureNaam}}</h2>
            <div class="school-info">
                <p>{{bedrijfsnaam}}, {{plaatsnaam}}</p>
                <p>{{branch}}</p>
                <p>{{dienstverband}}</p>
            </div>
            <hr>
            {{!-- <p>{{soortGebruiker}}</p> --}}
        </header>

        <p>{{vacatureOmschrijving}}</p>
        <h2>Wat wij zoeken</h2>
        <h3>Je bent</h3>
        <p>{{competenties}} </p>
        <h3>Je kan werken met</h3>
        <p>{{skills}} </p>
        <h3>Je bezit minimaal een</h3>
        <p>{{opleidingsniveau}} werk- denkniveau </p>

        <h2>Wat wij jou bieden</h2>
        <p>{{aanbod}}</p>


        <div class="link">
            <h4>Meer informatie</h4>
            <br>
            <div class="test">
                <div>
                    <h5>Contactpersoon:</h5>
                    <a href="{{contactpersoonLinkedIn}}">{{contactpersoonVoornaam}} {{contactpersoonAchternaam}}</a>
                </div>
                <div>
                    <h5>Email:</h5>
                    <a href="mailto:{{contactpersoonEmail}}">{{contactpersoonEmail}}</a>
                </div>
                <div>
                    <h5>Telefoonnummer:</h5>
                    <a href="tel:{{contactpersoonNummer}}">{{contactpersoonNummer}}</a>
                </div>
                <div>
                    <h5>Website:</h5>
                    <a href="{{bedrijfWebsite}}" target="_blank">{{bedrijfWebsite}}</a>
                </div>
                <div>
                    <h5>Adres:</h5>
                    <a
                        href="https://www.google.nl/maps/place/{{straatnaam}}+{{huisnummer}}+{{postcode}}+{{plaatsnaam}}">{{straatnaam}}
                        {{huisnummer}},{{postcode}},{{plaatsnaam}}</a>
                </div>
            </div>

        </div>

    </article>
    {{/each}}
</section>