{{> toevoegen-header }}

<section class="ingevulde-gegevens">
       <h1>Ingevulde gegevens:</h1><br/>
       <h3>Bedrijfsnaam:</h3> <p>{{vacatures.bedrijfsnaam}}</p><br/>
       <h3>Plaatsnaam:</h3> <p>{{vacatures.plaatsnaam}}</p><br/>
       <h3>vacature Naam</h3> <p>{{vacatures.vacatureNaam}}</p><br/>
       <h3>Dienstverband:</h3> <p>{{vacatures.dienstverband}}</p><br/>
       <h3>Branche:</h3> <p>{{vacatures.branche}}</p><br/>
       <h3>Vacature Omschrijving:</h3> <p class="biografie">{{vacatures.vacatureOmschrijving}}</p><br/>
       <h3>Opleidingsniveau</h3> <p>{{vacatures.opleidingsniveau}}</p><br/>
       <h3>Competenties</h3> <p>{{vacatures.competenties}}</p><br/>
       <h3>Skills:</h3> <p>{{vacatures.skills}}</p><br/>
       <h3>Aanbod:</h3> <p>{{vacatures.aanbod}}</p><br/>

       <a href="/vacatures">Bekijken</a>
</section>