{{> toevoegen-header }}

<section class="ingevulde-gegevens">
       <h1>Ingevulde gegevens:</h1><br/>
       <h3>Voornaam:</h3> <p>{{gebruikers.voornaam}}</p><br/>
       <h3>Achternaam:</h3> <p>{{gebruikers.achternaam}}</p><br/>
       <h3>Leeftijd:</h3> <p>{{gebruikers.leeftijd}}</p><br/>
       <h3>Biografie:</h3> <p class="biografie">{{gebruikers.biografie}}</p><br/>
       <h3>E-mail:</h3> <p>{{gebruikers.werkzoekendeEmail}}</p><br/>
       <h3>Portfolio:</h3> <p>{{gebruikers.werkzoekendePortfolio}}</p><br/>
       <h3>CV:</h3> <p>{{gebruikers.werkzoekendeCv}}</p><br/>
       <h3>Woonplaats:</h3> <p>{{gebruikers.werkzoekendeWoonplaats}}</p><br/>
       
       <h3>Opleiding:</h3> <p>{{gebruikers.opleidingRichting}}</p><br/>
       <h3>School naam:</h3> <p>{{gebruikers.schoolNaam}}</p><br/>
       <h3>Opleidingsniveau:</h3> <p>{{gebruikers.opleidingsniveau}}</p><br/>
       <h3>Leerjaar:</h3> <p>{{gebruikers.leerjaar}}</p><br/>
       
       <h3>Skills:</h3> <p>{{gebruikers.skills}}</p><br/>
       
       <h3>Functie:</h3> <p>{{gebruikers.functie}}</p><br/>
       <h3>Branch:</h3> <p>{{gebruikers.branch}}</p><br/>
       <h3>Dienstverband:</h3> <p>{{gebruikers.dienstverband}}</p><br/>

       <a href="/werkzoekende">Bekijken</a>
</section>